:root {
--black: #222222;
--light-pink: #F1E4E6;
--dark-pink: #F16D7F;
--grey: #9F9F9F;
--purwhite: white;
}

.shop-page {
font-family: Lato;
font-size: 14px;
font-style: normal;
font-weight: 300;
line-height: 17px;
}

.container {
    width: 1140px;
    margin: 0 auto;
}
.header {
    background-color: var(--black);
}

.header__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 75px;
}
.header__nav {
    display: none;
}
.header__controls-user{
    margin: 0 0 0 31px;
}
.header__controls-bag{
    margin: 0 0 0 31px;
}
.header__controls-logo {
    margin: 0 41px 0 0;
}
.header__controls-button{
    border: none;
    background-color: transparent;
}
.brand{
    display: flex;
}
.brand__wrp{
background-color: var(--light-pink);
flex-grow: 1;
padding: 0 0 0 92px;
display: flex;
align-items: center;
}
.brand__title {
font-family: "Lato";
text-transform: uppercase;
position: relative;
font-size: 48px;
line-height: 50px;
font-weight: 400;
font-style: normal;
}

.brand__title::before {
    height: 92px;
    width: 12px;
    background-color: var(--dark-pink);
    content: '';
    position: absolute;
    left: -40px;
    top: 10px;
}
.brand__img {
    background-color: var(--light-pink);
}
.brand__subtitle{
font-family: Lato;
font-size: 37px;
font-style: normal;
font-weight: 700;
line-height: 44px;
letter-spacing: 0em;
text-align: left;
}
.brand__subtitle-red{
    color: var(--dark-pink);
}
.sales__title{
margin-top: 65px;
}

.sales__list{
    display: flex;
    justify-content: space-between;
}
.sales__block-acces{
    align-items: center;
}
.sales__box{
    margin: 30px, 30px, 30px,30px;
}
.sales__box-text{
    font-family: Lato;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 105px;
}
.sales__box-red{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;  
    text-transform: uppercase;
    color: var(--dark-pink);
    padding-bottom: 105px;
}
.sales__box-women{
    background-image:url(../img/For_women.jpg);
    width: 360px;
    background-repeat: no-repeat;
    color: white;
}
.sales__box-men{
    background-image:url(../img/For_men.jpg);
    width: 360px;
    background-repeat: no-repeat;
    color: var(--purwhite);
}
.sales__box-kids{
    background-image:url(../img/For_kids.jpg);
    width: 360px;
    background-repeat: no-repeat;
    color: var(--purwhite);
}
.sales__block-acces{
    background-image:url(../img/Accesories.jpg);
    background-repeat: no-repeat;
    color: var(--purwhite);
    margin-top: 30px;
}
.sales__block-text{
    font-family: Lato;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    padding-top: 65px;
}
.sales__block-red{
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    letter-spacing: 0em;
    text-align: center;  
    text-transform: uppercase;
    color: var(--dark-pink);
    padding-bottom: 65px;
}
.itemsblock__title{
margin-top: 96px;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 36px;
color: var(--black);

}
.itemsblock__text{
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 17px;
color:var(--grey);
margin-bottom: 48px;
}

.header 

    // .header__logo

    &__logo {
    }

    // .header__loupe

    &__loupe {
    }

    // .header__burger

    &__burger {
    }

    // .header__menu

    &__menu {
    }

    // .header__user

    &__user {
    }

    // .header__bag

    &__bag {
    }
}
.main {
}
.menu {

    // .menu__img

    &__img {
    }

    // .menu__title

    &__title {
    }

    // .menu__title-red

    &__title-red {
    }
}
.sales {

    // .sales__block

    &__block {
    }

    // .sales__title

    &__title {
    }

    // .sales__list

    &__list {
    }

    // .sales__box

    &__box {
    }

    // .sales__box-img

    &__box-img {
    }

    // .sales__box-text

    &__box-text {
    }

    // .sales__box-title

    &__box-title {
    }
}
.itemsblock {

    // .itemsblock__title

    &__title {
    }

    // .itemsblock__text

    &__text {
    }

    // .itemsblock__menu

    &__menu {
    }

    // .itemsblock__img

    &__img {
    }

    // .itemsblock__box-title

    &__box-title {
    }

    // .itemsblock__box-text

    &__box-text {
    }

    // .itemsblock__box-price

    &__box-price {
    }

    // .itemsblock__box

    &__box {
    }
}
.service {

    // .service__button

    &__button {
    }

    // .service__list

    &__list {
    }

    // .service__box

    &__box {
    }

    // .service__box-title

    &__box-title {
    }

    // .service__box-text

    &__box-text {
    }
}
.footer {

    // .footer__main-img

    &__main-img {
    }

    // .footer__main-text

    &__main-text {
    }

    // .footer__main-subtitle

    &__main-subtitle {
    }

    // .footer__main-title

    &__main-title {
    }

    // .footer__control-text

    &__control-text {
    }

    // .footer__control-img

    &__control-img {
    }
}
