.service {
    background-color: $black2;
    height: 341px;
}

.service__box {
    margin-top: 103px;
    margin-bottom: 28px;
}

.service__box-title {
    font-size: 19.96px;
    line-height: 24px;
    color: $light-white;
    margin-bottom: 16px;
    text-align: center;
}

.service__box-text {
    color: $dark-grey;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
}

.service__list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}