$black: #222222;
$light-pink: #F1E4E6;
$dark-pink: #F16D7F;
$grey: #9F9F9F;
$dark-grey: #5D5D5D;
$pure-white: white;
$light-grey: #F8F8F8;
$black2: #222224;
$light-white: #FBFBFB;
$soft-grey: #E1E1E1;

$font-lato: "lato";
